{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/mountain.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>Greetings, I'm Kovidh Gandreti</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Collierville High School
          </div>
          <div class="col-sm-4 text-pad">
            kovidhgandreti@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            Collierville, TN
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>"Don’t look back. Just do it. Don’t Regret." - Ratan Tata</p>
        <p>I'm a highschool student passionate about tech.</p>
        <p>Intrigued by design, coding, technological advancements, and always learning more.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              CyberPatriots
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Sept 2021 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>​The National Youth Cyber Education Program created by the Air Force Association to inspire K-12 students toward careers in cybersecurity or other science, technology, engineering, and mathematics (STEM) disciplines critical to our nation's future.</p>
              <p>Skills Gained</p>
              <ul>
                <li class="main-li">The main goal of every round of competition is to improve the security of one or more virtual machine images. In the past, teams have been tasked with:</li>
                <li class="sub-li">Maintaining and hardening critical services</li>
                <li class="sub-li">Fixing vulnerabilities</li>
                <li class="sub-li">Removing malware from the systems</li>
                <li class="sub-li">Answering forensics questions</li>
                <li class="main-li">CyberPatriot has used these images during the online rounds:</li>
                <li class="sub-li">Windows 10 </li>
                <li class="sub-li">Windows Server 2016, and Windows Server 2019</li>
                <li class="sub-li">Ubuntu 16, Ubuntu 18, Debian 9</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Robotics
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Early 2017 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>2016 - 2017: FIRST Lego League | Animal Allies</p>
              <li>Every year FIRST releases a new challenge that engages the teams in hands-on robotics design and scientific research. The theme for the challenge is different each year, allowing teams to learn about a variety of subjects.</li>
              <p>2017 - 2019: FIRST Tech Challenge | Relic Recovery & Rover Ruckus</p>
              <li>FIRST Tech Challenge teams are challenged to design, build, program, and operate robots to compete in a head-to-head challenge in an alliance format.</li>
              <p>2019 - PRESENT: FIRST Robotics Competition | Destination: Deep Space & TBD</p>
              <li>Under strict rules, limited time and resources, teams of students are challenged to raise funds, design a team "brand," hone teamwork skills, and build and program industrial-size robots to play a difficult field game against like-minded competitors.</li>
              <p></p>
            </ul>
            </div>
          </div>
        </div>

                <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              NHS
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              April 2021 - PRESENT
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>The National Honor Society is a nationwide organization for high school students in the United States and outlying territories, which consists of many chapters in high schools. In this club, I participated in comminuty-based volunteering events to benefit my town.</p>
              <p>Skills Gained</p>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Miscellaneous Activities
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Youth Commitee of TAM
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Jan 2021 - PRESENT
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Telugu Association of Memphis is a non profit organization established with a mission statement to preserve the Telugu Samskriti (Culture), Sahithi (Literaturer) and Sampradayam (Tradition) in telugu speaking people of Memphis area.</p>
              <ul>
                <li class="main-li">Role - Director of Sports</li>
                <li class="sub-li">I oversee the facility management, human resources, funding and policy adherence of a sports organization in compliance with certain rules and regulations </li>
                <li class="sub-li">I also volunteer for events hosted by TAM.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              SOLIDWORKS
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              September 2021 - PRESENT
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>SolidWorks is a solid modeling computer-aided design and computer-aided engineering computer program.</p>
              <p>In my STEM III class, I have worked with SOLIDWORKS to produce a variety of different 3D models.</p>
              <ul>
                <li class="main-li">Some skills aquired:</li>
                <li class="sub-li">Basic Part Modeling</li>
                <li class="sub-li">Assembly Modeling</li>
                <li class="sub-li">Revolves and Sweeps.</li>
                <li class="sub-li">Mold Design and Casted Parts.</li>
                <li class="sub-li">Editing Errors and Design Change.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/cyber.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">CyberPatriots</h3>
            <p class="content-text">Securing Windows Server</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/cyber.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/rubik.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">"Our whole life is solving puzzles"</h3>
            <p class="content-text">Erno Rubik</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/frc.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">First Robotics Competition</h3>
            <p class="content-text">Teams make robots to compete in a series of tasks</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">kovidhgandreti@gmail.com</span>
        </div>
        <div>
          <a href="https://www.linkedin.com/">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">@</span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@</span>
          </a>
        </div>
        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/kgand</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
